// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Themes
$theme-color-first:#795548;
$theme-color-second:#8d6e63;
$theme-color-three:#a1887f;
$theme-color-four:#d7ccc8;
$theme-color-five:#f8fafc;


